<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ itemName }} Item List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="gotoAddSimpleBrainstormingItemPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
      <ng-container *ngFor="let item of islidesItems; let i = index">
        <ion-item *ngIf="item.type === this.itemType" [ngStyle]="{'background-color': item.color}">
          <h2 [innerHtml]="item.text"></h2>
          <button (click)="deleteItem(i)" ion-button clear item-end>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
      </ng-container>
      </ion-list>

</ion-content>
